$square-color: #999;
$square-color-active: #fff;
$square-border-color: #000;

.game {
  &__square {
    background: $square-color;
    border: 1px solid $square-border-color;
    height: 48px;
    width: 48px;

    &.active {
      background: $square-color-active;
    }
  }
}
